USE [HospitalDB]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[FileNumber] [nvarchar](50) NOT NULL,
	[Allergies] [nvarchar](250) NULL,
	[ChronicDiseases] [nvarchar](250) NULL,
	[AdmissionStatus] [tinyint] NOT NULL,
	[BloodTypeID] [tinyint] NOT NULL,
	[PersonID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Patients_FileNumber] UNIQUE NONCLUSTERED 
(
	[FileNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_BloodTypes] FOREIGN KEY([BloodTypeID])
REFERENCES [dbo].[BloodTypes] ([ID])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_BloodTypes]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Persons] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Persons]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [Chk_Patients_AdmissionStatus] CHECK  (([AdmissionStatus]=(3) OR [AdmissionStatus]=(2) OR [AdmissionStatus]=(1)))
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [Chk_Patients_AdmissionStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1- Admitted 2- Outpatient 3- Discharged' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Patients', @level2type=N'COLUMN',@level2name=N'AdmissionStatus'
GO
