USE [HospitalDB]
GO
/****** Object:  Table [dbo].[LabTests]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabTests](
	[LabTestID] [int] IDENTITY(1,1) NOT NULL,
	[MedicalRecordID] [int] NOT NULL,
	[TestTypeID] [int] NOT NULL,
	[TestDate] [datetime] NOT NULL,
	[Result] [nvarchar](250) NULL,
	[Notes] [nvarchar](300) NULL,
	[CreatedByUserID] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_LabTests] PRIMARY KEY CLUSTERED 
(
	[LabTestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LabTests] ADD  CONSTRAINT [DF_LabTests_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[LabTests]  WITH CHECK ADD  CONSTRAINT [FK_LabTests_LabTestsType] FOREIGN KEY([TestTypeID])
REFERENCES [dbo].[LabTestTypes] ([TestTypeID])
GO
ALTER TABLE [dbo].[LabTests] CHECK CONSTRAINT [FK_LabTests_LabTestsType]
GO
ALTER TABLE [dbo].[LabTests]  WITH CHECK ADD  CONSTRAINT [FK_LabTests_MedicalRecords] FOREIGN KEY([MedicalRecordID])
REFERENCES [dbo].[MedicalRecords] ([RecordID])
GO
ALTER TABLE [dbo].[LabTests] CHECK CONSTRAINT [FK_LabTests_MedicalRecords]
GO
ALTER TABLE [dbo].[LabTests]  WITH CHECK ADD  CONSTRAINT [FK_LabTests_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[LabTests] CHECK CONSTRAINT [FK_LabTests_Users]
GO
