USE [HospitalDB]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[MedicalRecordID] [int] NOT NULL,
	[ServiceDescription] [nvarchar](400) NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[BillingDate] [date] NULL,
	[Status] [tinyint] NOT NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_Billing] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Billing_Record] FOREIGN KEY([MedicalRecordID])
REFERENCES [dbo].[MedicalRecords] ([RecordID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Billing_Record]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0- Unpaid, 1- Fully Paid, 2- Cancelled, 3- Partially Paid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Status'
GO
