USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUsersPermissionsList]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_GetUsersPermissionsList]
as
begin
    set nocount on;
    
     select RP.RolePermissionId, U.Username, P.Fullname, R.RoleName, Pr.PermissionName, 
	        RP.CombinedPermissionsValue
	 from RolePermissions RP
	 inner join Roles R on RP.RoleId = R.RoleID
	 inner join Permissions Pr on Pr.PermissionTypeID = RP.PermissionTypeID
	 inner join Users U on U.RoleID = R.RoleID
	 inner join Persons P on P.PersonID = U.PersonID;	 

end
GO
