USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRole]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_UpdateRole]
    @roleID int,
	@roleName nvarchar(50),
	@rowsAffacted int output
as
begin
  
    set nocount on;

	update Roles 
	set RoleName = @roleName
	where RoleID = @roleID;

	set @rowsAffacted = @@ROWCOUNT;
end
GO
