USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePrescription]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_DeletePrescription]
    @prescriptionID int, 
	@rowsAffacted int output
as
begin
      set nocount on;

	 delete [dbo].[Prescriptions]
        from Prescriptions
		where PrescriptionId = @prescriptionID;

 		set @rowsAffacted = @@ROWCOUNT;
end
GO
