USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddAttachment]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddAttachment]
    @RelatedTable NVARCHAR(100),
    @RelatedId INT,
    @FileName NVARCHAR(255),
    @FilePath NVARCHAR(500),
    @AttachmentId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Attachments (RelatedTable, RelatedId, FileName, FilePath, UpdatedAt)
    VALUES (@RelatedTable, @RelatedId, @FileName, @FilePath, GETDATE());

    SET @AttachmentId = SCOPE_IDENTITY();
END
GO
