USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangeUserActivation]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ChangeUserActivation]
    @UserID INT,
	@isActive bit,
	@rowsAffacted int output
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Users
    SET IsActive = @isActive
    WHERE UserID = @UserID;

	set @rowsAffacted = @@ROWCOUNT;

END
GO
