USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_IsUserExistsByUserID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsUserExistsByUserID]
    @UserID INT,
    @Exists BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.Users WHERE UserID = @UserID)
        SET @Exists = 1;
    ELSE
        SET @Exists = 0;
END
GO
