USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteInvoicItem]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_DeleteInvoicItem]
    @invoiceItemID int,
	@rowsAffacted int output
as
begin
     set nocount on;

	 declare @ItemPrice decimal(12,2);
	 declare @invoiceID int;
	 
	 select @ItemPrice = TotalPrice from InvoiceDetails where InvoiceDetailID = @invoiceItemID; 
	 select @invoiceID = InvoiceID from InvoiceDetails where InvoiceDetailID = @invoiceItemID;
	
	update Invoices
	  set TotalAmount = TotalAmount - @ItemPrice
	  where InvoiceID = @invoiceID;

	 delete from InvoiceDetails
	 where InvoiceDetailID = @invoiceItemID;
	 set @rowsAffacted = @@ROWCOUNT;
end
GO
