USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[GetStaffList]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetStaffList]
as
begin
    set nocount on;
    
	select S.StaffID, P.Fullname, S.JobTitle, D.Department, 
	    case
		   when S.ShiftType = 1 then 'Morning'
		   when S.ShiftType = 2 then 'Evening'
		   when S.ShiftType = 3 then 'Night'
		   else 'None'
		end as ShiftType
	   ,case
	     when P.Gender = 'M' then 'Male'
		 when P.Gender = 'F' then 'Female'
       end as Gender, Age = Year(GETDATE()) - Year(P.DateOfBirth), 
	   S.DateHired, s.IsActive
	from Persons P 
	inner join Staff S on P.PersonID = S.PersonID
	inner join Departments D on S.DepartmentID = D.DeptID
	order by D.Department, P.Fullname;
	 	 	
end
GO
