USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllRoles]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllRoles]
AS
BEGIN
    SELECT * FROM Roles
END
GO
