USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPermissionTypes]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllPermissionTypes]
AS
BEGIN
    SELECT * FROM PermissionTypes
END
GO
