USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_IssueInvoice]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_IssueInvoice]
   @RecordID int,
   @ServiceDescription nvarchar(400),
   @Status tinyint,
   @InvoiceID int output
as
begin
    
	set nocount on;

	declare @description nvarchar(400);

	insert into Invoices (MedicalRecordID, BillingDate, ServiceDescription, Status, TotalAmount, isDelete)
	values (@RecordID, GetDate(), @ServiceDescription, @Status, 0, 0);

	set @InvoiceID = SCOPE_IDENTITY();

    declare @OpenFileFees decimal(12,2) = 0;
	declare @VisitFees decimal(12,2) = 0;
	declare @PrescriptionFees decimal(12,2) = 0;
	declare @TotalLabTestsPrice decimal(12,2) = 0;

	declare @patientID int;
	select @patientID = PatientID from MedicalRecords where RecordID = @RecordID;

	if not exists (SELECT 1 FROM MedicalRecords WHERE PatientID = @patientID AND RecordID <> @RecordID)
	  begin
	     set @OpenFileFees = 10.0;
		 set @description = 'Open File Fees = 10,';
	  end
	    
	declare @CurrentAppointment int = 0;

	select @CurrentAppointment = A.AppointementID from Appointments A
	           where A.RecordID = @RecordID 
		 and not exists (select 1 from InvoiceDetails I where I.ItemID = A.AppointementID); 
	 
	  if (@CurrentAppointment > 0)
	    begin
		   declare @appointmentStatus int;
		   select @appointmentStatus = Status from Appointments where AppointementID = @CurrentAppointment;
		   
		   set @VisitFees = case
		      when @appointmentStatus = 0 then 250
		      when @appointmentStatus = 1 then 100
		      when @appointmentStatus = 2 then 50
		      when @appointmentStatus = 3 then 150
		      else 150
		      end;

          set @description = @description + ' Visit Fees = ' + CAST(@VisitFees AS NVARCHAR) + ', ';

		   insert into InvoiceDetails (InvoiceID, ItemType, ItemID, Description, TotalPrice)
		   values (@InvoiceID, 'Appointment', @CurrentAppointment, 'Visit Fees', @VisitFees);
		end

		declare @CurrentPrescription int = 0;
        select @CurrentPrescription = P.PrescriptionId from Prescriptions P
	           where P.MedicalRecordId = @RecordID 
		 and not exists (select 1 from InvoiceDetails I where I.ItemID = P.PrescriptionId); 
	 

	 if (@CurrentPrescription > 0)
	    begin
		   
		   select @PrescriptionFees = TotalPrice	from Prescriptions where PrescriptionId = @CurrentPrescription;
	       set @description = @description + ' Prescription Fees = ' + CAST(@PrescriptionFees AS NVARCHAR) + ', ';

		   insert into InvoiceDetails (InvoiceID, ItemType, ItemID, Description, TotalPrice)
		   values (@InvoiceID, 'Prescription', @CurrentPrescription, 'Total Precription Price', @PrescriptionFees);
		end
	 else
	   begin
	      set @PrescriptionFees = 0;
	   end

	   declare @UnpaidTests Table(TestID int, TestPrice decimal(12, 2));

	   insert into @UnpaidTests(TestID, TestPrice)
	   select T.LabTestID , L.Price  from LabTests T 
	      inner join LabTestTypes L on T.TestTypeID = L.TestTypeID
	     where MedicalRecordID = @RecordID 
	      and not exists(select 1 from InvoiceDetails I where I.ItemID = LabTestID);

        IF EXISTS (SELECT 1 FROM @UnpaidTests)
	     begin
		    
			select @TotalLabTestsPrice = sum(TestPrice) from @UnpaidTests;
			
			set @description = @description + ' Total Lab Tests Price = ' + CAST(@TotalLabTestsPrice AS NVARCHAR) + ', ';

			insert into InvoiceDetails (InvoiceID, ItemType, ItemID, Description, TotalPrice)
			select @InvoiceID, 'Lab Test', TestID, 'Lab Test Fees', TestPrice from @UnpaidTests;

		 end
       else
	     begin
		   set @TotalLabTestsPrice = 0;
		 end


		 update Invoices 
		 set TotalAmount = (@OpenFileFees + @VisitFees + @TotalLabTestsPrice + @PrescriptionFees),
		   ServiceDescription = @description
		 where InvoiceID = @InvoiceID;

		 update Appointments 
		  set Status = 3
		  where AppointementID = @CurrentAppointment;
end
GO
