USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_IsPatientExistsForPerson]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_IsPatientExistsForPerson]
    @personID int
as
begin
    set nocount on;
	
	 IF EXISTS (SELECT 1 FROM Patients WHERE PersonID = @personID)
        SELECT 1; 
    ELSE
        SELECT 0; 
	
end
GO
