USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLabTestsListFilterd]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_GetLabTestsListFilterd]
   @patientID int = null,
   @medicalRecordID int = null
as
begin
    set nocount on;

	select L.LabTestID as ID, LT.TestName as Test, P.FileNumber, PP.Fullname as TestFor, PD.Fullname as OrderedByDoctor,
          L.MedicalRecordID, L.TestDate, L.Result,
		  case
		    when exists (
			   select 1 from InvoiceDetails
			   where InvoiceDetailID = L.LabTestID
			)
			then 1 
			else 0
          end as LabTestConfirmed
   from LabTests L 
   inner join MedicalRecords MR on L.MedicalRecordID = MR.RecordID
   inner join Patients P on P.PatientID =MR.PatientID
   inner join Persons PP on PP.PersonID = P.PersonID 
   inner join Doctors D on D.DoctorID = MR.DoctorID
   inner join Persons PD on PD.PersonID = D.PersonID
   inner join LabTestTypes LT on L.TestTypeID = LT.TestTypeID
   where 
    ( (@patientID IS NOT NULL AND @medicalRecordID IS NULL AND P.PatientID = @patientID)
            OR
            (@patientID IS NULL AND @medicalRecordID IS NOT NULL AND L.MedicalRecordID = @medicalRecordID)
            OR
            (@patientID IS NOT NULL AND @medicalRecordID IS NOT NULL AND P.PatientID = @patientID AND L.MedicalRecordID = @medicalRecordID));
end
GO
