USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[Add_Person]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[Add_Person]
   @fullName nvarchar(100),
   @birthDate date,
   @phone nvarchar(50),
   @email nvarchar(100),
   @gender nvarchar(1),
   @address nvarchar(200),
   @image nvarchar(Max),
   @PersonID int output
as
begin
    SET NOCOUNT ON;

INSERT INTO [dbo].[Persons]
           ([Fullname]
           ,[DateOfBirth]
           ,[Phone]
           ,[Email]
           ,[Gender]
		   ,[Address]
		   ,[Image]
		   ,[IsDeleted])
     VALUES
	 (@fullName, @birthDate, @phone, @email, @gender, @address,@image, 0);

	 set @PersonID = SCOPE_IDENTITY();
end
GO
