USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewUser]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[SP_AddNewUser]
   @personID int,
   @roleID int,
   @username nvarchar(100),
   @hashPassword nvarchar(500),
   @isActive bit,
   @UserAddedID int output
as
begin
     set nocount on;

	 insert into Users(PersonID, RoleID, Username, PasswordHash, CreatedAt, IsActive)
	 values
	 (@personID, @roleID, @username, @hashPassword, GETDATE(), @isActive);
	 
	 set @UserAddedID = SCOPE_IDENTITY();
end
GO
