USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPatientInfoByInvoiceID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_GetPatientInfoByInvoiceID]
     @invoiceID int
as
begin
     set nocount on;

SELECT 
    P.FullName,
	Pa.FileNumber,
	Pa.AdmissionStatus,
    P.Gender,
    P.DateOfBirth,
    P.Phone,
    P.Address
FROM Invoices I
JOIN MedicalRecords R ON I.MedicalRecordID = R.RecordID
JOIN Patients Pa ON R.PatientID = Pa.PatientID
JOIN Persons P ON Pa.PersonID = P.PersonID
WHERE I.InvoiceID = @invoiceID;
end
GO
