USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetInvoicesList]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_GetInvoicesList]
as
begin
    set nocount on;

	select I.InvoiceID, M.RecordID, Pa.PatientID, P.Fullname as PatientName,
	  Pa.FileNumber, P.Phone, I.BillingDate, I.ServiceDescription, 
	  I.TotalAmount, case
	  when I.Status = 0 then 'Un paid'
	  when I.Status = 1 then 'Fully Paid'
	  when I.Status = 2 then 'Cancelled'
	  when I.Status = 3 then 'Partially Paid'
	  else 'Un paid' end as Status
	from Invoices I inner join MedicalRecords M on I.MedicalRecordID = M.RecordID
	inner join Patients Pa on Pa.PatientID = M.PatientID 
	inner join Persons P on P.PersonID = Pa.PersonID
	order by I.BillingDate;

end
GO
