USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUserPermissions]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_UpdateUserPermissions]
    @userPermissionsID int,
	@combinedPermissionsValue int,
	@rowsAffacted int output
as
begin
    set nocount on;

       update [dbo].[RolePermissions]
             set [CombinedPermissionsValue] = @combinedPermissionsValue
        where RolePermissionId = @userPermissionsID;

       set @rowsAffacted = @@ROWCOUNT;
end
GO
