USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPermissionsListByTypeID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_GetPermissionsListByTypeID]
   @permissionTypeID int
as 
begin
    set nocount on;

	select PermissionID, PermissionName, Value
	from Permissions
	where PermissionTypeID = @permissionTypeID;

end
GO
