USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateInvoiceItem]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_UpdateInvoiceItem]
    @invoiceItemID int,
	@itemType nvarchar(50),
    @description nvarchar(255),
	@price decimal(12,2),
    @rowsAffacted int output
as
begin
     set nocount on;

	 update InvoiceDetails
	  set ItemType = @itemType,
	     Description = @description,
		 TotalPrice = @price
		 where InvoiceDetailID = @invoiceItemID;

		 set @rowsAffacted = @@ROWCOUNT;
end
GO
