USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetBookedSlots]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_GetBookedSlots]
   @DoctorID int,
   @AppointmentDate Date
as
begin
   
   set nocount on;

   select TimeSlot from Appointments
   where DoctorID = @DoctorID and AppointmentDate = @AppointmentDate;

end
GO
