USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateAppointment]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_UpdateAppointment]
    @appointmentID int,
	@status tinyint,
	@appointmentDate datetime,
	@appointmentType tinyint,
	@doctorId int,
    @timeSlot Time(0),
	@notes nvarchar(300), 
	@rowsAffacted int output
as
begin
    set nocount on;

	update [dbo].[Appointments]
           set [Status] = @status
              ,[AppointmentDate] = @appointmentDate
              ,[LastUpdatedAt] = GETDATE()
              ,[AppointmentType] = @appointmentType
			  ,[DoctorID] = @doctorId
			  ,[TimeSlot] = @timeSlot
              ,[Notes] = @notes
     where AppointementID = @appointmentID
          
			set @rowsAffacted = @@ROWCOUNT;
           
end
GO
