USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_IsUserExistsByPersonID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsUserExistsByPersonID]
    @PersonID INT,
    @Exists BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.Users WHERE PersonID = @PersonID)
        SET @Exists = 1;
    ELSE
        SET @Exists = 0;
END

GO
