USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetMonthlyPatientsCount]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_GetMonthlyPatientsCount]
as
begin
 
      set nocount on;

	  select MONTH(TimeStamp) as MonthNumber,
	   count(AuditId) as PatientsCount
	   from AuditLog
	   where TableName = 'Patients' and action = 'INSERT'
	   and YEAR(TimeStamp) = Year(GETDATE())
	   group by MONTH(TimeStamp);
	  
end
GO
