USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetInvoiceItemDetailByID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_GetInvoiceItemDetailByID]
    @invoiceItemID int
as
begin
     set nocount on;

	 select * from InvoiceDetails
	 where InvoiceDetailID = @invoiceItemID;

end
GO
