USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetMedicalRecordsList]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_GetMedicalRecordsList]
as
begin
     set nocount on;


 SELECT 
        MR.*,  
        CASE 
            WHEN EXISTS (
                SELECT 1 
                FROM Appointments A
                WHERE A.RecordID = MR.RecordID
                  AND A.RecordID IS NOT NULL
                  AND A.Status <> 3
            ) 
            THEN 1 
            ELSE 0 
        END AS HasRecordActiveAppointment
    FROM MedicalRecordDetails MR
    ORDER BY RecordDate DESC, PatientName;

end
GO
