USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_HasRecordActiveAppointment]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_HasRecordActiveAppointment]
    @recordID int,
	@IsActiveAppointment bit output
as
begin
 
      set nocount on;

	  if exists (select AppointementID from Appointments 
	                where RecordID = @recordID and Status <> 3
	                and not exists(select 1 from InvoiceDetails I where I.ItemID = AppointementID))
					begin
					  set @IsActiveAppointment = 1
					end
       else
	      begin
		     set @IsActiveAppointment = 0;
		  end
end
GO
