USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[AddPatient]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddPatient]
   @fileNumber nvarchar(50),
   @allergies nvarchar(250),
   @chronicDiseases nvarchar(250),
   @admissionStatus tinyint,
   @bloodType tinyint,
   @personID int,
   @patientID int output
AS
BEGIN
    SET NOCOUNT ON;

   INSERT INTO [dbo].[Patients]
           ([FileNumber]
		   ,[Allergies]
		   ,[ChronicDiseases]
		   ,[AdmissionStatus]
           ,[BloodTypeID]
           ,[PersonID]
		   ,[CreatedAt])
     VALUES
           (@fileNumber, @allergies, @chronicDiseases, @admissionStatus, @bloodType, @personID, GETDATE());
  
     set @patientID = SCOPE_IDENTITY();
END
GO
