USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllRolePermissions]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_GetAllRolePermissions]
    @roleID int
as
begin
    set nocount on;
    
     select PermissionTypeID, CombinedPermissionsValue
     from RolePermissions 
	 where RoleId = @roleID
	 order by PermissionTypeID; 

end
GO
