USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[UpdateStaffInfo]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[UpdateStaffInfo]
    @staffID int,
	@jobTitle nvarchar(50),
	@shiftType tinyint,
	@dateHired date,
	@personID int,
	@deptID int,
	@isActive bit,
	@rowsAffacted int output
as
begin
    set nocount on;

	UPDATE [dbo].[Staff]
       SET [JobTitle] = @jobTitle
          ,[ShiftType] = @shiftType
          ,[DateHired] = @dateHired
          ,[PersonID] = @personID
          ,[DepartmentID] = @deptID
          ,[IsActive] = @isActive
     WHERE StaffID = @staffID;

	 set @rowsAffacted = @@ROWCOUNT;
	 	 	
end
GO
