USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[UpdateDoctor]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdateDoctor]
  @specialization nvarchar(50),
  @experienceYears int,
  @deptID int,
  @doctorID int,
  @dateHired date,
  @rowsAffected int output
as
begin
    SET NOCOUNT ON;

update [dbo].[Doctors]
      Set Specialization = @specialization
          ,ExperienceYears = @experienceYears
		  ,DateHired = @dateHired
		  ,DepartmentID = @deptID
     where DoctorID = @doctorID;
	 
     set @rowsAffected = @@ROWCOUNT;
end
GO
