USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[GetAllPatients]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllPatients]
AS
BEGIN
    SET NOCOUNT ON;

	select pa.PatientID, pa.FileNumber, p.Fullname, p.DateOfBirth , p.Phone,
	       bt.BloodType ,
		   case
		     when Gender = 'M' then 'Male'
			 when Gender = 'F' then 'Female'
		   end as Gender
	from Patients pa inner join Persons p
	on pa.PersonID = p.PersonID inner join BloodTypes bt on pa.BloodTypeID = bt.ID
	order by p.Fullname;

END
GO
