USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[AddDoctor]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[AddDoctor]
  @specialization nvarchar(50),
  @experienceYears int,
  @dateHired date,
  @personID int,
  @deptID int,
  @DoctorID int output
as
begin
    SET NOCOUNT ON;

INSERT INTO [dbo].[Doctors]
           ([Specialization]
           ,[ExperienceYears]
		   ,[DateHired]
		   , [DepartmentID]
           ,[PersonID])
     VALUES
           (@specialization, @experienceYears, @dateHired , @deptID ,@personID);
           
     set @DoctorID = SCOPE_IDENTITY();
end
GO
