USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[DeleteStaff]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[DeleteStaff]
      @staffID int,
	  @rowsAffacted int output
as
begin
    set nocount on;
    
	Declare @relatedPerson int;
	select @relatedPerson = PersonID from Staff where StaffID = @staffID;

	if @relatedPerson is not null
	  begin
	     update Persons set IsDeleted = 1 where PersonID = @relatedPerson;

		 delete from Staff where StaffID = @staffID;
		 set @rowsAffacted = @@ROWCOUNT;
	  end

	else
	 begin
        set @rowsAffacted = 0;	   
	 end
	 	 	
end
GO
