USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAttachmentsByRelatedInfo]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAttachmentsByRelatedInfo]
    @RelatedTable NVARCHAR(100),
    @RelatedId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT AttachmentId, FileName, RelatedTable, RelatedId, FilePath, UpdatedAt
    FROM dbo.Attachments
    WHERE RelatedTable = @RelatedTable AND RelatedId = @RelatedId;
END

GO
