USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[Update_Departement]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[Update_Departement]
    @departement nvarchar(50),
    @departementID int,
	@departmentType tinyint,
	@rowsAffected int output
as
begin
   set nocount on;

   update Departments
        set Department = @departement,
		    DepartmentType = @departmentType
		where DeptID = @departementID;

   set @rowsAffected = @@ROWCOUNT;

end
GO
