USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUserInfoByID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateUserInfoByID]
    @UserID INT,
    @Username NVARCHAR(100),
    @RoleID INT,
	@IsActive bit, 
	@rowsAffacted int output
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Users
    SET Username = @Username,
        RoleID = @RoleID,
		IsActive = @IsActive
    WHERE UserID = @UserID;

	set @rowsAffacted = @@ROWCOUNT;
END
GO
