USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUsersList]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetUsersList]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT U.UserID, U.PersonID, P.Fullname, Username, R.RoleName, CreatedAt, IsActive
    FROM dbo.Users U
	inner join Persons P on U.PersonID = P.PersonID
	inner join Roles R on R.RoleID = U.UserID;
END
GO
