USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_IsPatientExists]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_IsPatientExists]
     @patientID int = null,
	 @fileNumber varchar(50) = null
as
begin
    
	set nocount on;

	select PatientID from Patients
	where 
	(@patientID is null or PatientID = @patientID) and
	(@fileNumber is null or FileNumber = @fileNumber); 

end
GO
