USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPersonByName]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_GetPersonByName]
   @name nvarchar(100)
as
begin
    set nocount on;
	select PersonID, Fullname, Phone, Email, DateOfBirth,
	   case 
	   when Gender = 'M' then 'Male'
	   when Gender = 'F' then 'Female'
	   end as Gender, Address, Image
	   from Persons 
	   WHERE Fullname LIKE '%' + @name + '%';
end
GO
