USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserInfoByID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[SP_GetUserInfoByID]
   @userID int
as
begin

    set nocount on;

	SELECT U.UserID, U.PersonID, U.PasswordHash , P.Fullname, Username, R.RoleName,
	CreatedAt, IsActive, R.RoleID, P.Image
    FROM dbo.Users U
	inner join Persons P on U.PersonID = P.PersonID
	inner join Roles R on R.RoleID = U.UserID
	where U.UserID = @userID;
end
GO
