USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPrescriptionsByPatientID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_GetPrescriptionsByPatientID]
   @patientID int
as
begin
      set nocount on;

	  select Pr.PrescriptionId, Pr.MedicalRecordId, Pa.FileNumber, PatientName = PP.Fullname,
	       OrderbyDoctor = PD.Fullname, Pr.DateIssued, Clinic = Dp.Department, Pr.TotalPrice,
		   case
		     when exists(
			    select 1 from InvoiceDetails
				where InvoiceDetailID = PR.PrescriptionId
		     )
			 then 1
			 else 0
		   end as PaidPrescription
		    
      from Prescriptions Pr 
	  inner join MedicalRecords Mr on Mr.RecordID = Pr.MedicalRecordId
	  inner join Patients Pa on Mr.PatientID = Pa.PatientID
	  inner join Persons PP on PP.PersonID = Pa.PersonID
	  inner join Doctors D on D.DoctorID = Mr.DoctorID
	  inner join Persons PD on PD.PersonID = D.PersonID
	  inner join Departments Dp on D.DepartmentID = Dp.DeptID
	  where Pa.PatientID = @patientID;
end
GO
