USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteRecord]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_DeleteRecord]
   @recordID int,
   @rowsAffacted int output
as
begin
     set nocount on;

	 update MedicalRecords 
	    set IsDeleted = 1
     where RecordID = @recordID;       
    
	 set @rowsAffacted = @@ROWCOUNT;

end
GO
