USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAuditLogsList]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_GetAuditLogsList]
as
begin
    set nocount on;

    select A.AuditId, U.Username as PerformedBy,
    P.Fullname as DisplayName, A.Action, A.TableName as EntityName,
    A.RecordId as EntityID, A.TimeStamp as CreatedAt
    from AuditLog A inner join 
    Users U on A.UserId = U.UserID inner join 
    Persons P on U.PersonID = P.PersonID
	order by CreatedAt desc;
	
end
GO
