USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteAppointment]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_DeleteAppointment]
    @appointmentID int,
	@rowsAffacted int output
as
begin
    set nocount on;

	delete from Appointments
    where AppointementID = @appointmentID
        
		set @rowsAffacted = @@ROWCOUNT;
           
end
GO
