USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[Delete_Person]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[Delete_Person]
   @PersonID int,
   @rowsAffected int output
as
begin
    SET NOCOUNT ON;
	update Persons
	set IsDeleted = 1
	where PersonID =  @PersonID;
	
	set @rowsAffected = @@ROWCOUNT;
end
GO
