USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddPatientRecord]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_AddPatientRecord]
   @patientID int,
   @doctorID int,
   @diagnosis nvarchar(200),
   @treatment nvarchar(max),
   @notes nvarchar(255),
   @appointmentID int,
   @createdBy int,
   @medicalRecordID int output
as
begin
     set nocount on;

     INSERT INTO [dbo].[MedicalRecords]
               ([PatientID]
               ,[DoctorID]
               ,[Diagnosis]
               ,[Treatment]
               ,[RecordDate]
               ,[Notes]
               ,[CreatedByUserID]
               ,[IsDeleted])
     VALUES
           (@patientID, @doctorID, @diagnosis, @treatment, GETDATE(), @notes, @createdBy, 0);

	set @medicalRecordID = SCOPE_IDENTITY();

	if (@medicalRecordID is not null)
	    begin
		   update Appointments
	         set RecordID = @medicalRecordID
			 where AppointementID = @appointmentID;
	    end
end
GO
