USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddAppointment]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_AddAppointment]
    @patientID int,
	@doctorID int,
	@status tinyint,
	@appointmentDate datetime,
	@timeSlot time(0),
	@appointmentType tinyint,
	@notes nvarchar(300), 
	@createdBy int,
	@appointmentID int output
as
begin
    set nocount on;

	INSERT INTO [dbo].[Appointments]
           ([Status]
           ,[DoctorID]
           ,[PatientID]
           ,[AppointmentDate]
		   ,[TimeSlot]
           ,[CreatedAt]
           ,[AppointmentType]
           ,[Notes]
           ,[CreatedByUserID])
     VALUES
            (@status, @doctorID, @patientID, @appointmentDate, @timeSlot, GETDATE(),
			@appointmentType, @notes, @createdBy);

			set @appointmentID = SCOPE_IDENTITY();
           
end
GO
