USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckRecordExits]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[sp_CheckRecordExits]
   @RecordID int

as
begin
       set nocount on;

	   select 1 from MedicalRecords where RecordID = @RecordID;
end
GO
