USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLatestPatients]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_GetLatestPatients]
    @count int
as
begin
     
	 set nocount on;

	 select top (@count) PatientID, P.Fullname as 'Patient Name', Pa.FileNumber 
	 from Patients Pa inner join Persons P
	   on Pa.PersonID = P.PersonID
	   order by Pa.CreatedAt desc;
end

GO
