USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[GetPersonByID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[GetPersonByID]
   @personID int
as
begin
       SET NOCOUNT ON;
	   select PersonID, Fullname, Phone, Email, DateOfBirth,
	   case 
	   when Gender = 'M' then 'Male'
	   when Gender = 'F' then 'Female'
	   end as Gender, Address, Image
	   from Persons 
	   where PersonID = @personID
end
GO
