USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDashboardDetail]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetDashboardDetail]
    @tableName NVARCHAR(100),
    @dateOfInsertion DATE,
    @countOfTodayEntities INT OUTPUT,
    @countOfYesterdayEntities INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT @countOfTodayEntities = COUNT(*)
    FROM AuditLog
    WHERE TableName = @tableName
      AND Action = 'INSERT'
      AND TimeStamp >= @dateOfInsertion
      AND TimeStamp < DATEADD(DAY, 1, @dateOfInsertion);

    SELECT @countOfYesterdayEntities = COUNT(*)
    FROM AuditLog
    WHERE TableName = @tableName
      AND Action = 'INSERT'
      AND TimeStamp >= DATEADD(DAY, -1, @dateOfInsertion)
      AND TimeStamp < @dateOfInsertion;
END
GO
