USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[Add_Departement]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[Add_Departement]
    @departement nvarchar(50),
	@departmentType tinyint,
    @departementID int output
as
begin
   set nocount on;

   insert into Departments(Department, DepartmentType)
   values (@departement, @departmentType);

   set @departementID = SCOPE_IDENTITY();

end
GO
