USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLabTestInfoByID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_GetLabTestInfoByID]
    @labTestID int
as
begin
    set nocount on;
   
   select L.LabTestID as ID,LT.TestTypeID, LT.TestName as Test, P.FileNumber, PP.Fullname as TestFor, PD.Fullname as OrderedByDoctor,
          L.MedicalRecordID, L.TestDate, L.Result, L.Notes, L.CreatedByUserID
   from LabTests L 
   inner join MedicalRecords MR on L.MedicalRecordID = MR.RecordID
   inner join Patients P on P.PatientID =MR.PatientID
   inner join Persons PP on PP.PersonID = P.PersonID 
   inner join Doctors D on D.DoctorID = MR.DoctorID
   inner join Persons PD on PD.PersonID = D.PersonID
   inner join LabTestTypes LT on L.TestTypeID = LT.TestTypeID
   where L.LabTestID = @labTestID;

end
GO
