USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetInvoicesByRecordID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create procedure [dbo].[SP_GetInvoicesByRecordID]
  @recordID int
as
begin
    set nocount on;

	select I.InvoiceID, M.RecordID, Pa.PatientID, P.Fullname as PatientName,
	  Pa.FileNumber, P.Phone, I.BillingDate, I.ServiceDescription, 
	  I.TotalAmount, I.Status
	from Invoices I inner join MedicalRecords M on I.MedicalRecordID = M.RecordID
	inner join Patients Pa on Pa.PatientID = M.PatientID 
	inner join Persons P on P.PersonID = Pa.PersonID
	where I.MedicalRecordID = @recordID
	order by I.BillingDate;

end
GO
