USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoleByID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetRoleByID]
    @roleID int
AS
BEGIN
     set  nocount on;
	 
	 SELECT RoleName FROM Roles
	 where RoleID = @roleID
END
GO
