USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAppointmentsList]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_GetAppointmentsList]
as
begin
    set nocount on;

	select AppointementID,
	       App.RecordID,
		   Pa.PatientID,
	       PatientName = PP.Fullname, 
		   Pa.FileNumber,
		   App.DoctorID,
		   DoctorName = PD.Fullname, 
	       PatientAge = Year(GETDATE()) - Year(PP.DateOfBirth), 
		   Department = Dp.Department,
		   App.AppointmentDate, App.TimeSlot,
		   case
		     when App.Status = 0 then 'Schedule'
		     when App.Status = 1 then 'Confirm'
		     when App.Status = 2 then 'Cancel'
		     when App.Status = 3 then 'Complete'
		     else 'Schedule'
		   end as Status,
		   case
		     when App.AppointmentType = 0 then 'Consultation'
		     when App.AppointmentType = 1 then 'Follow-up'
		     when App.AppointmentType = 2 then 'Lab Test'
		     when App.AppointmentType = 3 then 'General Visit'
		     else 'General Visit'
		   end as AppointmentType
	from Appointments App 
	inner join Patients Pa on App.PatientID = Pa.PatientID 
	inner join Doctors D on App.DoctorID = D.DoctorID
	inner join Departments Dp on Dp.DeptID = D.DepartmentID
	inner join Persons PP on PP.PersonID = Pa.PersonID
	inner join Persons PD on PD.PersonID = D.PersonID
	order by App.AppointmentDate, PP.Fullname;
	
end
GO
