USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteLabTest]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_DeleteLabTest]
	@labTestID int,
	@rowsAffacted int output
as
begin
    set nocount on;
   
    delete from LabTests
    where LabTestID = @labTestID;
		   
	set @rowsAffacted = @@ROWCOUNT;
   end
GO
