USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPermisionTypeDetailsByID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_GetPermisionTypeDetailsByID]
   @permissionTypeID int 
as
begin
    set nocount on;

	select * from PermissionTypes
	where PermissionTypeId = @permissionTypeID;

end
GO
