USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateInvoiceInfo]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[SP_UpdateInvoiceInfo]
  @invoiceID int,
  @newDescription nvarchar(255) = null,
  @NewAmount decimal(12,2),
  @rowsAffacted int output
as
begin
    set nocount on;
	
       update Invoices
       set TotalAmount = @NewAmount,
           ServiceDescription = @newDescription
        where InvoiceID = @invoiceID;
       
	   set @rowsAffacted = @@ROWCOUNT;
      
end
GO
