USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddUser]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddUser]
    @PersonID INT,
    @Username NVARCHAR(100),
    @PasswordHash NVARCHAR(500),
    @RoleID INT,
    @IsActive BIT,
    @UserID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Users (PersonID, Username, PasswordHash, RoleID, CreatedAt, IsActive)
    VALUES (@PersonID, @Username, @PasswordHash, @RoleID, GETDATE(), @IsActive);

    SET @UserID = SCOPE_IDENTITY();
END
GO
