USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckUsernameExists]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_CheckUsernameExists]
     @username nvarchar(50)
as
begin
   
   set nocount on;

   if exists(select 1 from Users where Username = @username)
     SELECT 1 AS ExistsFlag;
   else
     SELECT 0 AS ExistsFlag;


end
GO
