USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateAttachmentByID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateAttachmentByID]
    @AttachmentId INT,
    @FileName NVARCHAR(255),
    @FilePath NVARCHAR(500),
    @rowsAffacted int output
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Attachments
    SET FileName = @FileName,
        FilePath = @FilePath,
        UpdatedAt = GETDATE()
    WHERE AttachmentId = @AttachmentId;
   
   set @rowsAffacted = @@ROWCOUNT;

END
GO
