USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTestTypesList]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_GetTestTypesList]
as
begin
    set nocount on;

	select *
	from LabTestTypes;
	
end
GO
