USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[DeleteDepartement]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[DeleteDepartement]
    @deptID int,
	@rowsAffected int output
as
begin
   set nocount on;

   Delete from Departments where DeptID = @deptID;
   set @rowsAffected = @@ROWCOUNT;
end
GO
