USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteAttachmentByID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteAttachmentByID]
    @AttachmentId INT,
	@rowsAffacted int output
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.Attachments WHERE AttachmentId = @AttachmentId;

	set @rowsAffacted = @@ROWCOUNT;
END
GO
