USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPatientRecords]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_GetPatientRecords]
   @patientID int
as
begin
     set nocount on;

	 select MD.RecordID, MD.PatientName, MD.DoctorName,
	    MD.Diagnosis, MD.Treatment, MD.RecordDate, HasPrescription, MD.IsDeleted
	 from MedicalRecordDetails MD
	 inner join MedicalRecords Mr on Mr.RecordID = MD.RecordID 
	 where Mr.PatientID = @patientID
	 order by MD.RecordDate;

end
GO
