USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[AddStaff]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[AddStaff]
    @jobTitle nvarchar(50),
	@shiftType tinyint, 
	@dateHired date,
	@personID int,
	@deptID int,
	@isActive bit,
	@staffID int output
as
begin
    set nocount on;
     INSERT INTO [dbo].[Staff]
           ([JobTitle]
           ,[ShiftType]
           ,[DateHired]
           ,[PersonID]
           ,[DepartmentID]
           ,[IsActive])
     VALUES
           (@jobTitle, @shiftType, @dateHired, @personID, @deptID, @isActive);

		   set @staffID = SCOPE_IDENTITY();
end
GO
