USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_AssignAppointmentToRecord]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[sp_AssignAppointmentToRecord]
     @appointmentID int,
	 @recordID int,
	 @rowsAffacted int output
as
begin
        set nocount on;

		update Appointments
		set RecordID = @recordID
		where AppointementID = @appointmentID;

		set @rowsAffacted = @@ROWCOUNT;
end
GO
