USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[GetPatientDetailsByID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPatientDetailsByID]
  @patientID int
AS
BEGIN
    SET NOCOUNT ON;

	select pa.PatientID, pa.FileNumber, p.Fullname, p.DateOfBirth , p.Phone,
	       bt.BloodType ,pa.PersonID,
		   case
		     when Gender = 'M' then 'Male'
			 when Gender = 'F' then 'Female'
		   end as Gender, p.Email,
		   pa.ChronicDiseases, pa.Allergies,pa.AdmissionStatus
	from Patients pa inner join Persons p
	on pa.PersonID = p.PersonID inner join BloodTypes bt on pa.BloodTypeID = bt.ID
	where pa.PatientID = @patientID;
END
GO
