USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePrescription]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_UpdatePrescription]
    @prescriptionID int, 
	@prescriptionTxt nvarchar(max),
	@totalPrice decimal(10, 2),
	@rowsAffacted int output
as
begin
      set nocount on;

	 update [dbo].[Prescriptions]
        set [PrescriptionText] = @prescriptionTxt
           ,[TotalPrice] = @totalPrice
         where PrescriptionId = @prescriptionID
		   set @rowsAffacted = @@ROWCOUNT;
end
GO
