USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[DeletePatient]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePatient]
   @patientID int,
   @rowsAffected int output
AS
BEGIN
    SET NOCOUNT ON;
	   	
	DECLARE @relatedPerson INT;

    SELECT @relatedPerson = PersonID FROM Patients WHERE PatientID = @patientID;

    IF @relatedPerson IS NOT NULL
     BEGIN
        UPDATE Persons 
        SET IsDeleted = 1
        WHERE PersonID = @relatedPerson;

         delete from Patients where PatientID = @patientID;
								   
	     set @rowsAffected =@@ROWCOUNT;     
      End

	ELSE
     BEGIN
        SET @rowsAffected = 0; 
     END
END
GO
