USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddLabTest]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_AddLabTest]
    @recordID int,
	@testTypeID int,
	@testDate Date,
	@result nvarchar(250),
	@notes nvarchar(300),
	@createdBy int,
	@labTestID int output
as
begin
    set nocount on;
   INSERT INTO [dbo].[LabTests]
           ([MedicalRecordID]
           ,[TestTypeID]
           ,[TestDate]
           ,[Result]
           ,[Notes]
           ,[CreatedByUserID])
     VALUES
           (@recordID, @testTypeID, @testDate, @result, @notes, @createdBy);

		   set @labTestID = SCOPE_IDENTITY();
   end
GO
