USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateLabTest]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_UpdateLabTest]
	@testDate Date,
	@result nvarchar(250),
	@notes nvarchar(300),
	@labTestID int,
	@rowsAffacted int output
as
begin
    set nocount on;
   Update [dbo].[LabTests]
        set [TestDate] = @testDate
           ,[Result] = @result
           ,[Notes] = @notes
       where LabTestID = @labTestID;
		   
	   set @rowsAffacted = @@ROWCOUNT;
   end
GO
