USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserByCredentials]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetUserByCredentials]
    @Username NVARCHAR(100),
    @PasswordHash NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

SELECT U.UserID, U.PersonID, U.PasswordHash , P.Fullname, Username, R.RoleName,
	CreatedAt, IsActive, R.RoleID, P.Image
    FROM dbo.Users U
	inner join Persons P on U.PersonID = P.PersonID
	inner join Roles R on R.RoleID = U.RoleID
    WHERE U.Username = @Username AND U.PasswordHash = @PasswordHash;
END
GO
