USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[DeleteTestType]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[DeleteTestType]
    @testTypeID int,
	@rowsAffacted int output
as
begin
    set nocount on;

	delete from LabTestTypes where TestTypeID = @testTypeID;
	set @rowsAffacted = @@ROWCOUNT;
end
GO
