USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllAttachments]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_GetAllAttachments]
as
begin
   set nocount on;
 
    select * from Attachments
	order by RelatedTable, RelatedId;
end
GO
