USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAttachmentByID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAttachmentByID]
    @AttachmentId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM dbo.Attachments
    WHERE AttachmentId = @AttachmentId;
END
GO
