USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAppointmentDetailsByID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_GetAppointmentDetailsByID]
   @appointmentID int
as
begin
    set nocount on;

	select App.AppointementID, Pa.PatientID ,PatientName = PP.Fullname, 
		   Pa.FileNumber,
		   App.DoctorID,
		   DoctorName = PD.Fullname, 
	       PatientAge = Year(GETDATE()) - Year(PP.DateOfBirth), 
		   Department = Dp.Department,
		   App.AppointmentDate, 
		   App.TimeSlot,
		   App.Status,
		   App.AppointmentType,
		   App.CreatedAt,
		   App.LastUpdatedAt,
		   App.Notes,App.CreatedByUserID
	from Appointments App 
	inner join Patients Pa on App.PatientID = Pa.PatientID 
	inner join Doctors D on App.DoctorID = D.DoctorID
	inner join Departments Dp on Dp.DeptID = D.DepartmentID
	inner join Persons PP on PP.PersonID = Pa.PersonID
	inner join Persons PD on PD.PersonID = D.PersonID
	where AppointementID = @appointmentID;
	
end
GO
