USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangeTestTypeActivation]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_ChangeTestTypeActivation]
    @testTypeID int,
	@isActive bit,
	@rowsAffacted int output
as
begin
    set nocount on;

	update LabTestTypes
	     set isActive = @isActive
	     where TestTypeID = @testTypeID;

	set @rowsAffacted = @@ROWCOUNT;

end
GO
