USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetInvoicePaymentsByID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_GetInvoicePaymentsByID]
   @invoiceID int
as
begin

	 set nocount on;
	 
	select PaymentID, InvoiceID, AmountPaid, PaymentDate,
	  case
	    when PaymentMethod = 0 then 'Cash'
		when PaymentMethod = 1 then 'CreditCard'
		when PaymentMethod = 2 then 'DebitCard'
		when PaymentMethod = 3 then 'PrepaidCard'
		when PaymentMethod = 4 then 'BankTransfer'
		when PaymentMethod = 5 then 'E-Wallets'
		else 'Cash'
		end as PaymentMethod,
		U.Username as 'EnteredBy'
	from Payments inner join Users U
	 on Payments.EnteredBy = U.UserID
	where InvoiceID = @invoiceID;  
end
GO
