USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GrantUserPermissions]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_GrantUserPermissions]
    @roleID int,
	@permissionsTypeID int, 
	@combinedPermissionsValue int,
	@userPermissions int output
as
begin
    set nocount on;

       INSERT INTO [dbo].[RolePermissions]
           ([RoleId]
           ,[PermissionTypeID]
           ,[CombinedPermissionsValue])
       VALUES
		    (@roleID, @permissionsTypeID, @combinedPermissionsValue);

       set @userPermissions = SCOPE_IDENTITY();
end
GO
