USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[DeleteMedicalRecord]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[DeleteMedicalRecord]
   @recordID int,
   @rowsAffected int output 
as
begin
     set nocount on;
   
     Delete from MedicalRecords where RecordID = @recordID;

     set @rowsAffected = @@ROWCOUNT;
end
GO
