USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[GetDoctorDetailsByID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDoctorDetailsByID]
   @doctorID int
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        d.PersonID,
        d.DoctorID,
		d.DepartmentID,
        p.Fullname,
        p.Phone,
        p.Email,
		dp.Department,
        p.DateOfBirth,
        CASE 
            WHEN p.Gender = 'M' THEN 'Male'
            WHEN p.Gender = 'F' THEN 'Female'
        END AS Gender,
        d.Specialization,
        d.ExperienceYears,
		d.DateHired
    FROM Doctors d
    INNER JOIN Persons p ON d.PersonID = p.PersonID
	inner join Departments dp on d.DepartmentID = dp.DeptID 
	where d.DoctorID = @doctorID;
    
END
GO
