USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[DeleteDoctor]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[DeleteDoctor]
  @doctorID int,
  @rowsAffected int output
as
BEGIN
    SET NOCOUNT ON;

    DECLARE @relatedPerson INT;

    SELECT @relatedPerson = PersonID FROM Doctors WHERE DoctorID = @doctorID;

    IF @relatedPerson IS NOT NULL
     BEGIN
        UPDATE Persons 
        SET IsDeleted = 1
        WHERE PersonID = @relatedPerson;

        DELETE FROM Doctors
        WHERE DoctorID = @doctorID;

        SET @rowsAffected = @@ROWCOUNT;
     END
    
	ELSE
     BEGIN
        SET @rowsAffected = 0; 
     END
END
GO
