USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_PayInvoice]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_PayInvoice]
   @invoiceID int,
   @status tinyint,
   @paidAmount decimal(12, 2),
   @paymentMethod tinyint,
   @entryBy int,
   @paymentID int output
as
begin

    set nocount on;

	   update Invoices
			set Status = @status
			where InvoiceID = @invoiceID;

       insert Payments(InvoiceID, AmountPaid, PaymentDate, PaymentMethod, EnteredBy)
	     values
		 (@invoiceID, @paidAmount, GETDATE(), @paymentMethod, @entryBy);

		 set @paymentID = SCOPE_IDENTITY();
end
GO
