USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddTestType]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_AddTestType]
    @testName nvarchar(100),
	@description nvarchar(300),
	@price decimal(10, 2),
	@isActive bit,
	@testTypeID int output
as
begin
    set nocount on;

	insert into LabTestTypes(TestName, Description, Price , isActive)
	values(@testName, @description, @price , @isActive);

	set @testTypeID = SCOPE_IDENTITY();

end
GO
