USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[IsEmployeeExistsForPerson]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[IsEmployeeExistsForPerson]
   @personID int
as
begin
    
	set nocount on;

	if exists(
	    select 1 from Doctors where PersonID = @personID
		union
		select 1 from Patients where PersonID = @personID
		union 
		select 1 from Staff where PersonID = @personID
	)
	   Select 1
	else
	   Select 0


end
GO
