USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[GetAllBloodTypes]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllBloodTypes]
as
begin
   
   set nocount on;

   select ID, BloodType from BloodTypes
   order by ID;

end
GO
