USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateTestType]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_UpdateTestType]
    @testTypeID int,
	@testName nvarchar(100),
	@description nvarchar(300),
	@price decimal(12, 2),
	@isActive bit,
	@rowsAffacted int output
as
begin
    set nocount on;

	update LabTestTypes
	     set TestName = @testName,
		     Description = @description,
			 Price = @price,
			 isActive = @isActive
	     where TestTypeID = @testTypeID;

	set @rowsAffacted = @@ROWCOUNT;

end
GO
