USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[GetStaffInfoByID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetStaffInfoByID]
    @staffID int
as
begin
    set nocount on;

	select S.StaffID, P.Fullname, S.JobTitle, S.DepartmentID, D.Department,
	   S.ShiftType, S.PersonID 
	   , Age = Year(GETDATE()) - Year(P.DateOfBirth), 
	   S.DateHired,
	   S.IsActive
	from Persons P 
	inner join Staff S on P.PersonID = S.PersonID
	inner join Departments D on S.DepartmentID = D.DeptID
	where StaffID = @staffID
	 	 	
end
GO
