USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserPermissionsByType]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_GetUserPermissionsByType]
    @roleID int,
	@permissionsType int,
	@permissionsValue int output
as
begin
    set nocount on;
    
     select @permissionsValue = CombinedPermissionsValue 
     from RolePermissions 
	 where RoleId = @roleID and PermissionTypeID = @permissionsType; 
	  
     if @permissionsValue is null
	   set @permissionsValue = 0;
end
GO
