USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPermissions]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllPermissions]
AS
BEGIN
    SELECT P.PermissionID, P.PermissionName, PT.PermissionName, P.Value
	FROM Permissions P
	inner join PermissionTypes PT on P.PermissionTypeID = PT.PermissionTypeId;
END
GO
