USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[GetBloodTypeByID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetBloodTypeByID]
   @bloodTypeID int
as
begin
   
   set nocount on;

   select BloodType from BloodTypes
   where ID = @bloodTypeID;

end
GO
