USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateAppointmentStatus]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_UpdateAppointmentStatus]
    @appointmentID int,
	@status tinyint,
	@rowsAffacted int output
as
begin
    set nocount on;

	update [dbo].[Appointments]
           set [Status] = @status
              ,[LastUpdatedAt] = GETDATE()
     where AppointementID = @appointmentID
          
			set @rowsAffacted = @@ROWCOUNT;
           
end
GO
