USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAppointmentsByFilter]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetAppointmentsByFilter]
    @FromDate date = null,
    @ToDate date = null,
    @DoctorID int = null,
	@PatientID int = null
as
begin
    set nocount on;

	select 
		App.AppointementID,
		App.RecordID,
		PP.Fullname as PatientName,
		Pa.FileNumber,
		PD.Fullname as DoctorName,
		D.DoctorID,
		Year(GETDATE()) - Year(PP.DateOfBirth) as PatientAge,
		Dp.Department,
		App.AppointmentDate, App.TimeSlot,
		case
		   when App.Status = 0 then 'Schedule'
		   when App.Status = 1 then 'Confirm'
		   when App.Status = 2 then 'Cancel'
		   when App.Status = 3 then 'Complete'
		   else 'Schedule'
		end as AppointmentStatus,
		case
		   when App.AppointmentType = 0 then 'Consultation'
		   when App.AppointmentType = 1 then 'Follow-up'
		   when App.AppointmentType = 2 then 'Lab Test'
		   when App.AppointmentType = 3 then 'General Visit'
		   else 'General Visit'
		end as AppointmentType,
		App.Notes
	from Appointments App 
	inner join Patients Pa on App.PatientID = Pa.PatientID 
	inner join Persons PP on PP.PersonID = Pa.PersonID
	
	inner join Doctors D on App.DoctorID = D.DoctorID
	inner join Persons PD on PD.PersonID = D.PersonID
	
	inner join Departments Dp on Dp.DeptID = D.DepartmentID
	
	where 
		(@FromDate is null or App.AppointmentDate >= @FromDate) and
		(@ToDate is null or App.AppointmentDate <= @ToDate) and
		(@DoctorID is null or App.DoctorID = @DoctorID) and
		(@PatientID is null or App.PatientID = @PatientID)

	order by App.AppointmentDate, PP.Fullname;
end
GO
