USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[GetAllDoctors]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllDoctors]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        d.DoctorID,
        p.Fullname,
        d.Specialization,
		Dp.Department,
        d.ExperienceYears,
		d.DateHired,
        p.Phone
    FROM Doctors d
    INNER JOIN Persons p ON d.PersonID = p.PersonID inner join Departments Dp on Dp.DeptID = d.DepartmentID
    ORDER BY Dp.Department;
END
GO
