USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePerson]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdatePerson]
   @personID int,
   @fullname nvarchar(100),
   @birthDate date,
   @phone nvarchar(50),
   @email nvarchar(100),
   @gender nvarchar(1),
   @address nvarchar(200),
   @imagePath nvarchar(max),
   @rowsAffected int output
as
begin
           SET NOCOUNT ON;
	  UPDATE [dbo].[Persons]
   SET [Fullname] = @fullname
      ,[DateOfBirth] = @birthDate
      ,[Phone] = @phone
      ,[Email] = @email
      ,[Gender] = @gender
	  ,[Address] = @address
	  ,[Image] = @imagePath
 WHERE PersonID = @personID

 set @rowsAffected = @@ROWCOUNT
end
GO
