USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[GetDepartementDoctors]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[GetDepartementDoctors]
    @deptID int
as
begin
    set nocount on;

	select p.Fullname, D.Specialization, D.ExperienceYears, Dp.Department, d.DateHired
	from Persons P 
	inner join Doctors D on P.PersonID = D.PersonID 
	inner join Departments Dp on D.DepartmentID = Dp.DeptID
	order by Dp.Department;

end
GO
