USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[AddUpdateRolePermissions]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[AddUpdateRolePermissions]
    @permissionType int,
	@combinePermissionsValue int,
	@roleID int,
	@rowsAffected int output
as
begin
   
     set nocount on;

	UPDATE RolePermissions
     SET CombinedPermissionsValue = @CombinePermissionsValue
      WHERE RoleId = @RoleID AND PermissionTypeID = @PermissionType;
	  set @rowsAffected = @@ROWCOUNT;

    IF @@ROWCOUNT = 0
      BEGIN
          INSERT INTO RolePermissions(RoleId, PermissionTypeID, CombinedPermissionsValue)
          VALUES (@RoleID, @PermissionType, @CombinePermissionsValue);
		  set @rowsAffected = @@ROWCOUNT;
      END

end
GO
