USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[DeleteAttachmentsByRelatedInfo]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteAttachmentsByRelatedInfo]
    @RelatedTable NVARCHAR(100),
    @RelatedId INT,
	@rowsAffacted int output
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.Attachments
    WHERE RelatedTable = @RelatedTable AND RelatedId = @RelatedId;

	set @rowsAffacted = @@ROWCOUNT;
END
GO
