USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[GetAllDepartements]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[GetAllDepartements]
as
begin
   set nocount on;

   select DeptID, Department,
        case
		  when DepartmentType =  1 then 'Medical'
		  when DepartmentType = 2 then 'Support'
		  else 'Support'
		end as DepartmentType
   from Departments order by DeptID, DepartmentType;

end
GO
