USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateInvoiceStatus]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_UpdateInvoiceStatus]
   @invoiceID int,
   @invoiceStatus tinyint,
   @rowsAffacted int output
as
begin
    
	set nocount on;

	update Invoices
	set Status = @invoiceStatus
	where InvoiceID = @invoiceID;

	set @rowsAffacted = @@ROWCOUNT;
end
GO
