USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePatient]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePatient]
   @allergies nvarchar(250),
   @chronicDiseases nvarchar(250),
   @admissionStatus tinyint,
   @bloodTypeID tinyint,
   @patientID int,
   @rowsAffacted int output
AS
BEGIN
    SET NOCOUNT ON;

   Update [dbo].[Patients]
         set Allergies = @allergies
           ,ChronicDiseases = @chronicDiseases
		   ,AdmissionStatus = @admissionStatus
		   ,BloodTypeID = @bloodTypeID
         where PatientID = @patientID;
     set @rowsAffacted = @@ROWCOUNT;
END
GO
