USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRecordInfo]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_UpdateRecordInfo]
   @recordID int,
   @diagnosis nvarchar(200),
   @treatment nvarchar(max),
   @notes nvarchar(255),
   @rowsAffacted int output
as
begin
     set nocount on;

     Update  [dbo].[MedicalRecords]
            set [Diagnosis] = @diagnosis
               ,[Treatment] = @treatment
               ,[Notes] = @notes
     where RecordID = @recordID;       
    
	 set @rowsAffacted = @@ROWCOUNT;

end
GO
