USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_RevokeUserPermissions]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_RevokeUserPermissions]
    @rolePermissions int,
	@rowsAffacted int output
as
begin
    set nocount on;

	if exists (select 1 from RolePermissions where RolePermissionId = @rolePermissions)
	  begin
	      
		  update [dbo].[RolePermissions]
             set [CombinedPermissionsValue] = 0
           where RolePermissionId = @rolePermissions;

           set @rowsAffacted = @@ROWCOUNT;
	  end
    else
      begin
	      set @rowsAffacted = 0;
	  end
       
end
GO
