USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteInvoice]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[SP_DeleteInvoice]
  @invoiceID int,
  @rowsAffacted int output
as
begin
    set nocount on;

	update Invoices
	set isDelete = 1
	  where InvoiceID = @invoiceID;

	  set @rowsAffacted = @@ROWCOUNT
	
end
GO
