USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetInvoiceByID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_GetInvoiceByID]
     @invoiceId int
as
begin
    set nocount on;

	select * from Invoices where InvoiceID = @invoiceId;
end
GO
