USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[DeactivateEmployee]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[DeactivateEmployee]
    @staffID int,
	@rowsAffacted int output
as
begin
    set nocount on;

	UPDATE [dbo].[Staff]
       SET [IsActive] = 0
     WHERE StaffID = @staffID;

	 set @rowsAffacted = @@ROWCOUNT;
	 	 	
end
GO
