USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPermisionTypeIDByName]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_GetPermisionTypeIDByName]
   @permissionTypeName nvarchar(100) 
as
begin
    set nocount on;

	select PermissionTypeId from PermissionTypes
	where PermissionName = @permissionTypeName;

end
GO
