USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_IsDoctorExistsForPerson]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_IsDoctorExistsForPerson]
   @personId int
as

begin
     set nocount on;

	 IF EXISTS (
        SELECT 1 FROM Doctors WHERE PersonID = @personId
        UNION
        SELECT 1 FROM Staff WHERE PersonID = @personId
    )
        SELECT 1;
    ELSE
        SELECT 0;

end
GO
