USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddPrescription]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_AddPrescription]
    @recordID int, 
	@prescriptionTxt nvarchar(max),
	@totalPrice decimal(10, 2),
	@userCreated int,
	@prescriptionID int output
as
begin
      set nocount on;

	  INSERT INTO [dbo].[Prescriptions]
           ([MedicalRecordId]
           ,[DateIssued]
           ,[PrescriptionText]
           ,[TotalPrice]
		   ,[CreatedBy])
     VALUES
           (@recordID, GETDATE(), @prescriptionTxt, @totalPrice, @userCreated);

		   set @prescriptionID = SCOPE_IDENTITY();
end
GO
