USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[Update_MedicalRecord]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Update_MedicalRecord]
   @recordID int,
   @diagnosis nvarchar(200),
   @treatment nvarchar(max),
   @rowsAffected int output 
as
begin
     set nocount on;
  update MedicalRecords
          set Diagnosis = @diagnosis
           ,Treatment = @treatment
     where RecordID = @recordID;

     set @rowsAffected = @@ROWCOUNT;
end
GO
