USE [HospitalDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLogDetailByID]    Script Date: 9/11/2025 8:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_GetLogDetailByID]
   @logID int
as
begin
  
    set nocount on;

	select AuditId, U.Username as PerformedBy,
       P.Fullname as DisplayName, A.Action, A.TableName as EntityName,
       A.RecordId as EntityID, A.TimeStamp as CreatedAt,
	   A.OldValues, A.NewValues, A.DeviceInfo, A.IPAddress
	from AuditLog A inner join Users U on A.UserId = U.UserID
	inner join Persons P on U.PersonID = P.PersonID
	where AuditId = @logID;

end
GO
